#lockallQr
{
    background-color: white;
    position: fixed;
    width: 256px;
    height: 256px;
    top: 50%;
    left: 50%;
    margin-top: -128px;
    margin-left: -128px;
    display: none;
    z-index: 2147483647;
}

#lockallQr > canvas
{
    border-style: solid;
    border-color: white;
    border-width: 10px;
}

#lockallQrBackground
{
    background-color: #003fa6;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    position: fixed;
    margin-top: -225px;
    margin-left: -225px;
    display: none;
    z-index: 2147483647;
}

/*https://codepen.io/brissmyr/pen/egidw*/

.lockallClose
{
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.lockallClose:hover
{
    opacity: 1;
}
.lockallClose:before, .lockallClose:after
{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}
.lockallClose:before
{
    transform: rotate(45deg);
}
.lockallClose:after
{
    transform: rotate(-45deg);
}
  